.hero-image{
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://plus.unsplash.com/premium_photo-1661634993112-6a019f5cc9e2?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bGFuZGluZyUyMHBhZ2V8ZW58MHx8MHx8fDA%3D');
}
.text-title{
   
    text-align: center;
    flex-direction: column;
}